{% extends 'base.html.twig' %}

{% block title %}Ajouter une carte{% endblock %}

{% block body %}

    <div class="container w-50">

    <h1 class="text-center mt-3 mb-3">Modifer une carte</h1>

    {{ form_start(form) }}
        {{ form_row(form.name, {'attr': {'class': 'form-control'}, 'label': 'Nom de la carte :'}) }}
        {{ form_row(form.value, {'attr': {'class': 'form-control'}, 'label': 'Valeur de la carte :'}) }}
        {{ form_row(form.quantity, {'attr': {'class': 'form-control'}, 'label': 'Quantité :'}) }}
        {{ form_row(form.picture, {'attr': {'class': 'form-control'}, 'label': 'Image :'}) }}
        {{ form_row(form.buyAt) }}
        {{ form_row(form.releaseAt) }}
        {{ form_row(form.description, {'attr': {'class': 'form-control', 'rows': "5"}, 'label': 'Résumé de la carte :'}) }}
        {{ form_row(form.isOnSale, {'attr': {'class': 'form-check'}}) }}

        <div class="container d-flex align-items-center justify-content-center">
            <button class="btn btn-success" type="submit">Soumettre</button>
        </div>

{{ form_end(form)}} 

    </div>

{% endblock %}
