{% extends 'base.html.twig' %}

{% block title %}Liste des cartes{% endblock %}

{% block body %}

<h1 class="text-center mt-3">Liste des cartes</h1>

<div class="container-fluid d-flex align-items-center justify-content-center mt-3 mb-3">

{% for message in app.flashes('success') %}

            <div class="alert alert-success text-center w-50">
                {{ message }}
            </div>

{% endfor %}

{% for message in app.flashes('error') %}

            <div class="alert alert-danger text-center w-50">
                {{ message }}
            </div>

{% endfor %}

</div>

<div class="container-fluid d-flex row align-items-center justify-content-center mt-3 mb-3 m-0 p-0">

    <div class="col-3">

        {{ form_start(filter) }}
            {{ form_widget(filter) }}
        {{ form_end(filter) }}

    </div>

</div>

<div class="container-fluid d-flex row align-items-center justify-content-center mt-3 mb-3">

{% for cards in card %}

    <div class="card col-3 mx-3 my-3 pt-3 pb-3 " style="width: 25rem;">
        <img src="{{  asset("/assets/card/" ~ cards.picture) }}" class="img-top" alt="">
            <div class="card-body">
                <h3 class="card-title">{{ cards.name }}</h3>
                <h5>Prix : {{ cards.value }}€</h5>
                    <p class="card-text"><h6>Résumé :</h6> {{ cards.description }}</p>
                    <p class="card-text">Quantité : {{ cards.quantity }}</p>
                    <p class="card-text">Acheté le : {{ cards.buyAt|date('d/m/Y') }}</p>
                    <p class="card-text">Sortie le : {{ cards.releaseAt|date('d/m/Y') }}</p>
                
{% if cards.isOnSale %}

{% if app.user %}
                    
         <p class="card-text alert-success p-2 text-center">Disponible à la vente</p>

{% else %}

        <a type="button" class="btn btn-primary w-100" href="{{ path('mailer',{id:cards.id}) }}">Proposer une offre</a>

{% endif %}

{% else %}

        <p class="card-text alert-danger p-2 text-center">Indisponible à la vente</p>

{% endif %}
                  
            </div>

{% if app.user %}

        <a href="{{ path('view-one',{id:cards.id})}}" class="btn btn-primary mb-2">Voir la carte</a>

{% else %}
{% endif %}

    </div>

{% endfor %}

</div>

{% endblock %}
