
<title>Thibault | {% block title %} {% endblock %}</title>

{% block stylesheet %}
<link rel="stylesheet" href="{{ asset('assets/css/bootstrap.css') }}">
{% endblock %}

{% block javascripts %}
<script src="{{ asset('assets/js/bootstrap.js') }}"></script>
{% endblock %}

<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="{{ path("homepage") }}">Accueil</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-link" href="{{ path("all-card") }}">Voir toutes les cartes</a>
      </div>
      {% if app.user %}
      <div class="navbar-nav">
        <a class="nav-link" href="{{ path("add-card") }}">Ajouter une carte</a>
      </div>
      {% endif %}
    </div>

{% if app.user %}
    <div class="navbar-nav">
        <a class="me-5 nav-link" href="{{ path("logout") }}">Se deconnecter</a>
    </div>

{% else %}

    <div class="navbar-nav">
        <a class="me-5 nav-link" href="{{ path("login") }}">Se connecter</a>
    </div>

{% endif %}
  </div>
</nav>  

{% block body %}{% endblock %}



