{% block body %}
{% apply inline_css %}
    <style>
    @import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');
        * {
            font-family: 'Open Sans', sans-serif;
            background-color: #303030;
            color: white;
        }
        h1 {
            text-align: center;
        }
        h3 {
             text-align: center;
        }
        .messageTitle {
            text-align: center;
        }
        p {
            text-align:center;
        }
        img {
            height : 150px;
        }
        .container {
            display: flex;
            align-items: center;
            justify-content:center;
            width: 100%;
            margin-right: auto;
            margin-left: auto;
        }
    </style>

<h1>Nouvelle offre d'achat de {{ name }} !</h1>

<h3>Mail du client : {{ mail }}</h3>

<h3>Prix proposé : {{ value }}€ pour la carte {{ cardName }}</h3>

<div class="container">
<img  src="{{ absolute_url(asset('assets/card/' ~ picture)) }}">
</div>

<h4 class="messageTitle">Message : </h4>
<p>"{{ message }}"</p>



{% endapply %}
{% endblock %}